h1 {
  text-align:center;
  font-size:40px;
  font-family:Arial;
}
h2 {
  text-align:center;
  font-size:22px;
  font-family:Arial;
  font-weight:normal;
  font-style:italic;https://www.w3schools.com/html/actuarialScience.htm
}
body {
  background:#f0f0f0;
}
a:link {
  color:#444444;
  text-decoration:underline;
}
a:visited {
  color:#444444;
  text-decoration:none;
}
a:hover {
  color:blue;
  text-decoration:none;
}
a:active {
  color:white;
  text-decoration:none;
}
div.optionBar {
  background:#666666;
  width:300px;
  height:500px;
  padding:0px;
  float:left;
  margin:20px 0px 20px 20px;
}
button.optionBar {
  background:grey;
  color:white;
  font-size:25px;
  padding:20px;
  margin:0px;
  width:110%;
}
div.content {
  background:#cccccc;
  width:50%;
  height:500px;
  float:left;
  padding:0px;
  margin:20px 20px 0px 20px;
}
div.optionHeading {
  background:#aaaaaa;
  color:black;
  font-weight:bold;
  font-size:25px;
  padding:20px;
  margin:0;
  width:100%;
}
